body {
  background-image: url("../images/blue.jpg");
  padding: 20px;
}
#curr-word p {
  display: inline-block;
  margin: 0 3px;
}

.btn-primary {
  background-color: white;
  color: #ffaa1b;
  font-weight: bold;
  margin: 0 2px;
}

#failed p {
  display: inline-block;
}

.main {
  background-image: url("../images/orange.jpg");
  color: white;
  width: auto;
  margin: 0 390px;
  padding: 20px 0;
}
