/* to make the body and html alway fill the entire screen */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url("../images/zoo-cover-rsz1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
#curr-word p {
  display: inline-block;
  margin: 0 3px;
}

.dashes {
  background-color: white;
  color: #ffaa1b;
  font-weight: bold;
  margin: 0 2px;
}

.dashes:hover {
  background-color: white;
  color: #ffaa1b;
}

.dashes:active {
  background-color: white;
  color: #ffaa1b;
}

.dashes:focus {
  background-color: white;
  color: #ffaa1b;
}

#failed p {
  display: inline-block;
}

/* .main {
  color: white;
  width: auto;
  margin: 0 390px;
  padding: 20px 0;
} */

#start-btn {
  background-color: #97a31d;
  color: #6f4626;
  font-family: "Lacquer", sans-serif;
  border-color: #97a31d;
  font-size: 4.25rem;
  border-radius: 1.3rem;
  opacity: 0.9;
}

#start-btn:hover {
  background-color: #0f4825;
  color: #6f4626;
  font-family: "Lacquer", sans-serif;
  border-color: #97a31d;
  font-size: 4.25rem;
  border-radius: 1.3rem;
}

#start-btn:active {
  background-color: #97a31d;
  color: #6f4626;
  font-family: "Lacquer", sans-serif;
  border-color: #97a31d;
  font-size: 4.25rem;
  border-radius: 1.3rem;
}

#start-btn:focus {
  background-color: #0f4825;
  color: #6f4626;
  font-family: "Lacquer", sans-serif;
  border-color: #97a31d;
  font-size: 4.25rem;
  border-radius: 1.3rem;
}

.wlcome_card {
  background: #ed7e05;
  color: white;
  font-family: "Lacquer", sans-serif;
  margin: 0;
  font-size: 4.25rem;
  opacity: 0.9;
}

.guess_card {
  background: #ed7e05;
  color: white;
  font-size: 1.5rem;
  opacity: 0.9;
}

.fix-height {
  font-size: 1.5rem;
  line-height: 5rem;
  font-family: "Lacquer", sans-serif;
}
