body {
  background-image: url("../images/blue.jpg");
  padding: 20px;
}
#curr-word p {
  display: inline-block;
  margin: 0 3px;
}

#failed p {
  display: inline-block;
}

.main {
  background-image: url("../images/orange.jpg");
  color: white;
  width: auto;
  margin: 0 390px;
  padding: 20px 0;
}
